################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrimeiroPrograma/.vs/PrimeiroPrograma/v16
/RecapitulacaoDeLogica/PrimeiroPrograma/.vs/PrimeiroPrograma/v16/Server/sqlite3
/RecapitulacaoDeLogica/PrimeiroPrograma/.vs/PrimeiroPrograma/v16
/RecapitulacaoDeLogica/SaidaDeDados/.vs/SaidaDeDados/v16/Server/sqlite3
/RecapitulacaoDeLogica/SaidaDeDados/.vs/SaidaDeDados/v16
/RecapitulacaoDeLogica/ExercicioDeFixacao/.vs/ExercicioDeFixacao/v16/Server/sqlite3
*.suo
/RecapitulacaoDeLogica/EntradaDeDados/.vs/EntradaDeDados/v16/Server/sqlite3
/ClassesMetodos/Triangulo/.vs/Triangulo/v16/Server/sqlite3
/RecapitulacaoDeLogica/EstruturaCondicional/.vs/EstruturaCondicional/v16/Server/sqlite3
/ClassesMetodos/PrimeirosExercicios1/.vs/PrimeirosExercicios1/v16/Server/sqlite3
/ClassesMetodos/PrimeirosExercicios1/.vs/PrimeirosExercicios1/DesignTimeBuild
/ClassesMetodos/Produto/.vs/Produto/DesignTimeBuild/.dtbcache
/ClassesMetodos/Produto/.vs/Produto/v16/Server/sqlite3
*.dtbcache
*.lock
*.ide
