################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrimeiroPrograma/.vs/PrimeiroPrograma/v16
/RecapitulacaoDeLogica/PrimeiroPrograma/.vs/PrimeiroPrograma/v16/Server/sqlite3
/RecapitulacaoDeLogica/PrimeiroPrograma/.vs/PrimeiroPrograma/v16
/RecapitulacaoDeLogica/SaidaDeDados/.vs/SaidaDeDados/v16/Server/sqlite3
/RecapitulacaoDeLogica/SaidaDeDados/.vs/SaidaDeDados/v16
